@mixin heading {
	display: inline;
	// padding: 0 15px;
	font-size: 50px;
	text-transform: uppercase;
	position: relative;
}

@mixin line {
	content: '';
    display: block;
    position: absolute;
    width: 64px;
    height: 2px;
    left: 5px;
    top: 80px;
    background-color: $secondColor;
    background-color: $primaryColor;
    animation-name: example;
    animation-duration: 0.3s;
}
